/**
 * Colors
 */
$green:   #9df2cb;
$red:     #ffafca;
$blue:    #93caff;
$yellow:    #FFFFA5;
$ocean:   #5C97BF;
$denim:   #6C7A89;

$black:         #000;
$dark-grey:     #788181;
$medium-grey:   #ABB7B7;
$grey:          #C1C1C1;
$neutral-grey:  #ECECEC;
$light-grey:    #ECF0F1;
$white:         #FFFFFF;

$shadow:        rgba(112, 112, 112, 0.45);
